.container-chats {
  width: 40%;
  height: 88.8vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: none;
  overflow-y: scroll;
  transition: 0.4s ease-in-out;
}

.container-chats.dark {
  background-color: #111b21;
  transition: 0.4s ease-in-out;
}

.container-chats.dark h2 {
  color: #fff !important;
  transition: 0.4s ease-in-out;
}

.container-chats.dark p {
  color: #fff !important;
  transition: 0.4s ease-in-out;
}

.container-chats.dark .container-chat-item {
  border-top: 1px solid rgba(255, 255, 255, 0.336) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.336) !important;
  transition: 0.4s ease-in-out;
}

.container-chats.dark .container-chat-item i.ri-delete-bin-line {
  color: #ff0000 !important;
  transition: 0.4s ease-in-out;
  text-shadow: 0 0 12px #ff0000;
}

.container-chats.dark .container-chat-item i.ri-pencil-line {
  color: #003ddd !important;
  transition: 0.4s ease-in-out;
  text-shadow: 0 0 12px #003ddd;
}

.container-chats .container-content .container-search {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.589);
  height: 80px;
  transition: 0.4s ease-in-out;
}

.container-chats .container-content .container-search.dark {
  transition: 0.4s ease-in-out;
  background-color: #111b21;
}

.container-chats .container-content .container-search.dark input {
  color: #fff;
  background-color: #2a3942;
  transition: 0.4s ease-in-out;
  border: none;
}

.container-chats .container-content .container-search input {
  display: block;
  margin: auto;
  position: relative;
  top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5rem;
  width: 450px;
  height: 30px;
  padding-left: 35px;
  padding-right: 20px;
  color: #000;
  transition: 0.4s ease-in-out;
  background-color: #fff;
}

.container-chats .container-content .container-search i {
  position: absolute;
  top: 100px;
  left: 40px;
  font-size: 1.2rem;
  color: #000;
}

.container-chats .container-content .container-search.dark i {
  color: #d1d7db;
}

.container-chats .container-content .container-add-chat {
  width: 100%;
  height: 60px;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

.container-chats .container-content .container-add-chat button {
  width: 100%;
  height: 60px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #000;
  text-align: left;
  padding-left: 5px;
  transition: 0.4s ease-in-out;
  font-weight: bold;
  z-index: 2;
}

.container-chats .container-content .container-add-chat button .link {
  color: #000;
  text-decoration: none;
}

.container-chats .container-content .container-add-chat.dark button {
  background-color: #2a3942;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.container-chats .container-content .container-add-chat button:hover {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}

.container-chats .container-content .container-add-chat:hover {
  background-color: rgba(255, 255, 255, 0.589);
  transition: 0.4s ease-in-out;
}

.container-chats-list {
  position: relative;
  width: 100%;
  top: 0;
  left: -204px;
}

.container-chats-list .container-chat-item {
  width: 511px;
  height: 85px;
  background-color: rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.container-chats-list .container-chat-item .container-chat-item-header-name h2 {
  color: #000;
  font-size: 1.2rem;
  margin-top: 10px;
  transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  margin-left: 20px;
}

.container-chats-list
  .container-chat-item
  .container-chat-item-header-delete
  i {
  position: absolute;
  margin-top: -25px;
  left: 470px;
  font-size: 1.3rem;
  color: #000;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.container-chats-list
  .container-chat-item
  .container-chat-item-header-update
  i {
  position: absolute;
  margin-top: 15px;
  left: 470px;
  font-size: 1.3rem;
  color: #000;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.container-chats-list .container-chat-item .container-chat-item-content p {
  position: absolute;
  left: 20px;
  margin-top: 1rem;
  transition: 0.4s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
}
